<div class="card">
  <img
    [routerLink]="['purchase-details']"
    [state]="{ eventId: event().id }"
    class="card-image"
    [src]="event().image"
    [attr.alt]="event().title + '-image'"
  />

  <div class="card-body">
    <div class="title-container">
      <div>
        <h3
          [routerLink]="['purchase-details']"
          [state]="{ eventId: event().id }"
        >
          {{ event().title }}
        </h3>
        <h4
          [routerLink]="['purchase-details']"
          [state]="{ eventId: event().id }"
        >
          {{ event().subtitle }}
        </h4>
      </div>

      <span class="date"
        >{{ event().startDate | date : "dd/MM/YYYY" }} -
        {{ event().endDate | date : "dd/MM/YYYY" }}</span
      >
    </div>

    <p class="card-description" [innerHTML]="event().description"></p>

    <button
      class="btn"
      [routerLink]="['purchase-details']"
      [state]="{ eventId: event().id }"
    >
      Buy
    </button>
  </div>
</div>
