<gt-catalog-section
  title="Purchase details"
  [hasButton]="true"
  buttonLabel="Go back"
>
  <ng-container *ngIf="shoppingCart$ | async as shoppingCart">
    <div class="grid">
      <gt-session-list
        [eventDetail]="(eventDetail$ | async) || undefined"
        [sessionsMap]="shoppingCart[eventId() || '']?.sessionsMap"
      ></gt-session-list>

      @if (hasShoppingCart$ | async) {
      <gt-shopping-cart
        class="animation__fadeIn"
        (removeSession)="onRemoveSession($event)"
        [shoppingCart]="shoppingCart"
      ></gt-shopping-cart>
      }
    </div>
  </ng-container>
</gt-catalog-section>
