.card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  background-color: var(--white);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  max-width: 700px;
  transition: transform 200ms;
  height: 100%;

  .card-image {
    width: 100%;
  }

  .card-body {
    flex-grow: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    p {
      margin: 0px;
      flex-grow: 1;
      margin-bottom: 1em;
    }

    .title-container {
      display: flex;
      justify-content: space-between;
      gap: 1em;
      flex-wrap: wrap;

      h3 {
        margin: 0px;
        margin-bottom: 0.3em;
      }
      h4 {
        margin: 0px;
      }
    }

    .date {
      color: var(--primary-color);
      font-weight: 500;
    }

    .action-button {
      padding: 1em 4em;
      border-radius: 100px;
      border: none;
      background: var(--primary-color);
      color: var(--white);
      cursor: pointer;
      transition: filter 500ms;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }

  &:hover {
    transform: scale(1.01);
  }
}
