<div class="card">
  <img
    class="card-image"
    [src]="event().image"
    [attr.alt]="event().title + '-image'"
  />

  <div class="card-body">
    <div class="title-container">
      <div>
        <h3>{{ event().title }}</h3>
        <h4>{{ event().subtitle }}</h4>
      </div>

      <span class="date"
        >{{ event().startDate | date : "dd/MM/YYYY" }} -
        {{ event().endDate | date : "dd/MM/YYYY" }}</span
      >
    </div>

    <p [innerHTML]="event().description"></p>

    <button
      class="btn"
      [routerLink]="['/purchase-details']"
      [state]="{ eventId: event().id }"
    >
      Buy
    </button>
  </div>
</div>
