<nav class="navbar" [ngClass]="{ 'decrease-navbar': decreaseNavbar$ | async }">
  <ul class="navbar-list">
    <li class="navbar-list-item">
      <div class="icon-container" (click)="navigateToHome()">
        <img
          src="/assets/img/go-tickets-logo.png"
          alt="Go tickets logo"
          width="50"
          height="50"
        />
        <h1>
          <a class="navbar-link"> {{ title() }} </a>
        </h1>
      </div>
    </li>

    @if (hasSearchbar()) {

    <li class="navbar-list-item searchbar-wrapper">
      <gt-input-text
        placeholder="Search events by keyword..."
        (inputEvent)="onInputEvent($event)"
      ></gt-input-text>
    </li>

    }

    <li class="navbar-list-item theme-toggle-wrapper">
      <gt-theme-toggle></gt-theme-toggle>
    </li>
  </ul>
</nav>
