.card-list {
  margin: 0px;
  padding: 2em;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: var(--white);
  box-shadow: var(--box-shadow);

  li {
    all: unset;
  }
}

button.btn {
  padding: 1em;
  border-radius: 100px;
  border: none;
  background: var(--primary-color);
  color: var(--white);
  font-family: var(--paragraph-font);
  font-weight: 600;
  cursor: pointer;
  transition: filter 500ms;

  &:hover {
    filter: brightness(0.8);
  }
}

gt-input-text .searchbar {
  font-family: var(--paragraph-font);
}
