// MEDIUM SCREENS
@media (max-width: 900px) {
  gt-catalog-grid .catalog-grid,
  gt-purchase-details-page .grid {
    --grid-columns: 1fr;
  }
}

// SMALL SCREENS
@media (max-width: 550px) {
  body {
    font-size: 13px;

    gt-nav-bar .navbar {
      --navbar-padding: 1em !important;

      .icon-container {
        img {
          width: 40px;
          height: 40px;
        }
        h1 {
          display: none;
        }
      }
    }

    gt-card .card-description {
      display: none;
    }

    footer {
      font-size: 9px !important;
    }
  }
}
