:host {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.navbar {
  --navbar-padding: 0.8em 4em;

  padding: var(--navbar-padding);
  border-radius: var(--border-radius);
  background-color: var(--white);
  margin: 1em;
  box-shadow: var(--box-shadow);
  transition: padding 500ms, margin 500ms, background-color 200ms;

  .navbar-list {
    padding: 0px;
    margin: 0px;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    .navbar-list-item {
      all: unset;
      display: flex;

      h1 {
        margin: 0px;
      }

      .navbar-link {
        all: unset;
      }

      .icon-container {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.5em;
        transition: width 500ms, height 500ms;
      }
    }

    .navbar-list-item.searchbar-wrapper {
      width: 100%;
      justify-self: center;
    }

    .navbar-list-item.theme-toggle-wrapper {
      justify-self: flex-end;
      grid-column-start: 3;
    }
  }
}

@media (min-width: 550px) {
  .decrease-navbar {
    padding: 0.2em 0.5em;
    margin: 0.5em;

    ::ng-deep {
      .searchbar {
        padding: 0.4em !important;
        transform: none !important;
      }
      .theme-toggle-button {
        padding: 1px !important;
        i {
          font-size: 15px !important;
        }
      }
    }

    .icon-container {
      img {
        width: 2em;
        height: 2em;
      }
    }
  }
}
