::ng-deep {
  html,
  body {
    min-height: 100vh;
  }

  body {
    position: relative;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    font-family: var(--paragraph-font);
    color: var(--secondary-text-color);
    transition: background 200ms, background-color 200ms;

    app-root {
      position: relative;
    }
  }

  body::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    filter: blur(10px);
    background-image: url("/assets/img/background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--title-font);
    color: var(--primary-text-color);
  }
}
